---
import Layout from '../layouts/Layout.astro';
import Menu from '../components/menu.astro';
---

<Layout title="Post">
  <main class="main-container">
    <div class="icons-asterisk"></div>
    <div class="rectangle"></div>
    <div class="flex-column-a">
      <span class="title">TITLE</span>
      <span class="media">MEDIA</span>
      <div class="line"></div>
    </div>
    <div class="line-1"></div>
    <div class="line-2"></div>
    <Menu />
  </main>
</Layout>

<style>
  :root {
    --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
      "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
      "Source Han Sans CN", sans-serif;
  }

  .main-container {
    position: relative;
    width: 360px;
    height: 640px;
    margin: 0 auto;
    background: #ffffff;
    overflow: hidden;
  }

  .icons-asterisk {
    position: absolute;
    width: 36px;
    height: 36px;
    top: 14px;
    left: 303.999px;
    background: url('/asterisk.png') no-repeat center;
    background-size: cover;
    z-index: 5;
  }

  .rectangle {
    position: absolute;
    width: 27px;
    height: 25px;
    top: 19px;
    left: 269.999px;
    border: 2px solid #000000;
    z-index: 6;
    border-radius: 5px;
  }

  .flex-column-a {
    position: absolute;
    width: 79.001px;
    height: 160.094px;
    top: 21px;
    left: 28.999px;
    font-size: 0px;
    z-index: 4;
  }

  .title {
    display: block;
    position: relative;
    height: 29px;
    margin: 0;
    color: #000000;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
  }

  .media {
    display: block;
    position: relative;
    height: 29px;
    margin: 26px 0 0;
    color: #a7a0a0;
    font-family: Inter, var(--default-font-family);
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: left;
    white-space: nowrap;
    z-index: 1;
  }

  .line {
    position: relative;
    width: 15.498px;
    height: 24.931px;
    margin: 53px 0 0;
    background: #000000;
    z-index: 4;
  }

  .line-1, .line-2 {
    position: absolute;
    width: 360px;
    height: 1px;
    left: 0;
    background: #000000;
  }

  .line-1 {
    top: 59px;
    z-index: 3;
  }

  .line-2 {
    top: 116px;
    z-index: 2;
  }
</style>
